.section__about{
    margin: 60px 0;
}
.about__container{
    justify-content: center;
    display: grid;
    grid-template-columns: 45% 65%;
    align-items: center;
}
.about__text__container{
    box-shadow: 0 2px 10px rgb(0 0 0 / 0%), 0 6px 15px rgb(0 0 0 / 22%);
    padding: 40px 80px;
    background-color: var(--primary);
}
.about__title{
    display: block;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 60px;
}
.about__description{
    word-break: break-word;
    text-align: justify;
    margin-top: 8px;
    font-size: 20px;
    color: #fff;
    display: block;
    line-height: 1.8;
    width: 85%;
}
.about__image{
    display:flex;
}
.about__image img{
    width: 100%;
    height: auto;
    box-shadow: 0 2px 10px rgb(0 0 0 / 0%), 0 6px 15px rgb(0 0 0 / 22%);
    
}