.section__footer {
  display: flex;
  padding: 40px 0;
  background-color: #707070;
  align-items: center;
  margin-top: 60px;
}
.footer__container {
  margin: 0 auto;
  grid-template-columns: auto auto auto;
  display: grid;
  width: 1200px;
  justify-content: space-evenly;
  color: #fff;
}
.footer__logo {
  width: 250px;
}
.footer__logo img {
  width: 100%;
  height: auto;
}
.footer__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
}
.footer__list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  line-height: 1.6;
}
.footer__link {
  text-decoration: none;
  color: #fff;
  font-size: 32px;
  margin-right: 8px;
}
.text_decoration_none {
  text-decoration: none;
  color: #fff;
}
.contact {
  pointer-events: none;
  margin-top: 8px;
}
/* .footer__contact{
    margin-top: 8px;
} */
