.section__jobs{
    margin-top:60px;
}
.jobs__container{
    justify-content: center;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}

.jobs__text__container{
    box-shadow: 0 2px 10px rgb(0 0 0 / 0%), 0 6px 15px rgb(0 0 0 / 22%);
    padding: 80px 0;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.jobs__title{
    display: block;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 60px;
}
.jobs__description{
    word-break: break-word;
    margin-top: 20px;
    font-size: 22px;
    color: #fff;
    display: block;
    line-height: 1.8;
    width: 80%;
}
.jobs__image{
    display: flex;
}
.jobs__image img{
    width: 100%;
    height: auto;
    box-shadow: 0 2px 10px rgb(0 0 0 / 0%), 0 6px 15px rgb(0 0 0 / 22%);
    
}
.jobs__posting{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}