.section__location{
    margin-top: 60px;
    /* margin: 80px 0; */
}
.location__container{
    vertical-align: middle;
    height: 420px;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
}
.location__text__container{
    box-shadow: 0 2px 10px rgb(0 0 0 / 0%), 0 6px 15px rgb(0 0 0 / 22%);
    padding:0px 7px;
    background-color: var(--primary);
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 3;
    right: 0;
    position: absolute;
    width: 55%;
    height: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.4;
}
.location__title{
    display: block;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 60px;
}
.location__description{
    word-break: break-word;
    text-align: justify;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    display: block;
    line-height: 1.8;
    width: 80%;
}
.location__image{
    left: 0%;
    vertical-align: middle;
    z-index: 2;
    position: absolute;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.location__image img{
    width: 100%;
    height: auto;
    box-shadow: 0 2px 10px rgb(0 0 0 / 0%), 0 6px 15px rgb(0 0 0 / 22%);
    
}