.section__portfolio{
    position: relative;
    background-image: url('../../assets/images/background/backgroundOne.png');
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
    height: 625px;
}
.slideshow__container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  user-select: none;
  margin-top: 40px;
}

.title {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2vmax;
  margin: 0rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: calc(65% - 4rem);
}

.overflow {
  width: 100%;
  height: 460px;
  padding: 0 1.1vmax;
  margin: 0;
  box-shadow: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overflow.animation-reveal {
  animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1);
}

.carousel {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  margin: 0;
  box-shadow: none;
  overflow: hidden;
}

.slider {
  width: 100%;
  height: 100%;
}

.card {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 0px;
  height: 400px;
  width: 800px;
  position: relative;
  background-position: 50%;
  background-size: cover;
  cursor: pointer;
  transition: width 0.16s ease-in-out, height 0.16s ease-in-out;
  transition: 0.2s ease;
  font-size: 1vmax;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgb(0 0 0 / 0%), 0 6px 15px rgb(0 0 0 / 22%);
  
}
.card:nth-of-type(5) {
  font-size: 0.9vmax;
}
.card .location {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  width: 96%;
  top:-108%;
  height: 100%;
  padding: 1rem;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, transparent 50%); */
  position: absolute;
  transform: translate(0%, 100%);
  text-decoration: none;
  transition: 0.2s ease;
}
.card .location:hover {
  color: white;
  transition: 0.2s ease;
}
.card.is-selected {
  transform: scale(1.1);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 10;
  box-shadow: 0 2px 10px rgb(0 0 0 / 0%), 0 6px 15px rgb(0 0 0 / 22%);
  
  transition: 0.2s ease;
}

.card-bg {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.card-bg.nono {
  background-position: center;
  background-size: 300px;
  background-color: #191925;
  background-repeat: no-repeat;
}

.button {
  background-color: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: 0;
  outline: 0;
  cursor: pointer;
  z-index: 100;
  position: absolute;
  box-shadow: 0 2px 10px rgb(0 0 0 / 0%), 0 6px 15px rgb(0 0 0 / 22%);

  color: #333;
  font-size: 1rem;
  transition: 0.2s ease;
  display: block;
}
.button.previous {
  transform: translate(-30vw, 0%);
}
.button.next {
  transform: translate(30vw, 0%);
}
.button:focus {
  transition: 0.2s ease;
  outline: 0;
  border: 0;
  box-shadow: 0 2px 10px rgb(0 0 0 / 0%), 0 6px 15px rgb(0 0 0 / 22%);

}
.button i {
  outline: none;
  text-decoration: none;
  background-color: #fff;
}
.button i:focus {
  outline: none;
  border: none;
}

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transform: translate(0%, 8%);
  vertical-align: middle;
}

.flickity-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 100%;
}

.portfolio-swiper.swiper-slide{
  width: auto !important;
} 
.swiper-container{
  padding: 50px 0 !important;
}
.portfolio-swiper.swiper-slide-active{
  transform: scale(1.1) !important;
  transition:all  0.5s ease;;
}
.no_cursor{
  cursor: initial !important;
}
