.pricing{

}
.pricing__background{
    position: relative;
    background-image: url('../../assets/images/background/backgroundThree.png');
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
    padding:0;
    /* min-width: 1920px;
    max-width: 1920px;
    width: 1920px; */
}
.solution__title{
    color: #013f64;
    font-size: 36px;
    font-weight: 700;
    display: block;
    margin-bottom: 16px;
}
.solution__description{
    line-height: 1.5;
    font-weight: 500;
    color: #013f64;
    font-size: 20px;
}
.solution__image{
    margin: 40px auto;
}
.solution__image img{
    width: 100%;
    height: auto;
    box-shadow: 0 2px 10px rgb(0 0 0 / 0%), 0 6px 15px rgb(0 0 0 / 22%);
}
.pricing__plan{
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: 28% 28% 28%;
    padding: 80px 45px;
}
.card{
    padding: 40px 20px;
    /* box-shadow: 1px 3px 5px 0px #4e4d4d; */
    background-color: #fff;
    text-align: center;
    position: relative;
}
.card__title{
    color: #013f64;
    display: block;
    font-size: 36px;
    font-weight: 600;
}
.card__price{
    color: #013f64;
    display: block;
    font-size: 36px;
    font-weight: 600;
    font-size: 80px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}
.card__date{
    color: #013f64;
    display: block;
    font-size: 48px;
}
.card__listings{
    font-weight: 600;
    color: #013f64;
    font-size: 18px;
    display: block;
    text-align: left;
    list-style: none;
    display: block;
    line-height: 2.2;
    padding: 18px;
}
.feature{
    display: block;
}
.card__contact__container{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 29.5%;
}
.card__contact{
    font-weight: 600;
    border-radius: 3px;
    padding: 8px;
    color: #fff;
    font-size: 36px;
    display: inline-block;
    background-color: #013f64;
    box-shadow: 0 2px 10px rgb(0 0 0 / 0%), 0 6px 15px rgb(0 0 0 / 22%);

    cursor: pointer;
}
.active{
    transform: scale(1.1);
    z-index: 999;
    box-shadow: 0 2px 10px rgb(0 0 0 / 0%), 0 6px 15px rgb(0 0 0 / 22%);
}
.bold{
    font-weight: 700;
    text-align: center;
}

.flex_end{
    justify-content: flex-start !important;
}
.logo__container{
    justify-content: flex-end;
    text-align: end;
    display: flex;
}
.flex_center{
    display:flex;
    justify-content: center;
}
#real_estate_cards{
    height: 500px;
}
.real_estate__contact{
    height: 80%;
}
/*Navigation*/
.header__container {
    position: relative;
    background-image: url('../../assets/images/section/header_details_new.jpg');
    /* background-position: center center; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 125px;
    position: relative;
    box-shadow: 0 2px 10px rgb(0 0 0 / 0%), 0 6px 15px rgb(0 0 0 / 22%);
    /* width: 100%; */
    margin: 0 auto;
}

.navbar {
    position: relative;
}

.navbar_container {
    z-index: 999;
    position: absolute;
    width: 100%;
    padding: 15px 0;
}

.navbar__container__gradient {
    background: linear-gradient( 180deg, rgb(0 0 0) 0%, rgb(1 0 24 / 0%) 100%, rgba(2, 0, 35, 0) 100%, rgba(0, 0, 0, 0.227328431372549) 100%, rgb(0 0 0) 100%);
}

.navbar_logo {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 300px;
    max-width: 300px;
}

.navbar_logo img {
    width: 100%;
    height: auto;
}

.navbar__relative__container {
    position: relative;
}

.navbar__relative__container .nav_menu .nav_item .nav_links {
    color: var(--secondary);
    text-shadow: 2px 2px 6px #000000;
    text-transform: capitalize;
    justify-content: center;
}

.nav_menu {
    align-items: center;
    width: 1200px;
    font-size: 10px;
    display: grid;
    /* grid-template-columns: 33% 10.6% 10.6% 13.6% 13.6% 11.6% 11.6%; */
    grid-template-columns: 2.3fr 1fr 1.5fr 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    z-index: 999;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 123px;
}

.nav_menu li {
    list-style: none;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_link_user {
    text-align: center;
    font-size: 120px;
    color: #aeb4b7;
}

.nav_links {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    font-weight: 600;
    font-size: 20px;
}

/* .nav_links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
    display:inline-block;
    justify-content: center;
} */

.see__more__container {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.see__more__container a {
    font-size: 20px;
    text-decoration: none;
    color: var(--secondary);
    text-shadow: 2px 2px 6px #000000;
    font-weight: 600;
}

.flex_end {
    justify-content: flex-start !important;
}

.logo__container {
    justify-content: center;
    text-align: end;
    display: flex;
}

.flex_center {
    display: flex;
    justify-content: center;
}
/* 
body {
  color: #000000;
  font-family: Sans-Serif;
  padding: 30px;
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #222222
} */


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 0%), 0 6px 15px rgb(0 0 0 / 22%);
    z-index: 1;
    top: 50px;
}

/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-weight: 600;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.pricing__plan__details{
    padding-left:35px;
}
/* .width_1366{
      max-width: 1366px;
    width: 1366px;
    min-width: 1366px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
} */
.divider__pricing{
    margin: 10px 0;
    height: 1px;
    background-color: #d3dbe0;
}
.starts__at{
    display: inline-block;
    margin-top: 60px;
    color: #013f64;
    font-weight: 700;
    font-size: 22px;
}
.contact__sales{
    margin-top: 32px;
    align-items: center;
    display: inline-block;
}
.contact__description{
    font-weight: 700;
    color: #013f64;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}
.contact__button{
    font-weight: 500;
    margin-left: 16px;
    color: #fff;
    background-color: #013f64;
    padding: 8px 20px;
    border-radius: 3px;
}
#peso_sign{
    font-family: arial;
    font-weight: 500;
}
.grid__two{
    display: grid;
    grid-template-columns: 46% 40%;
    align-items: center;
    justify-content: center;
}
.contact__container{
        box-shadow: 0 2px 10px rgb(0 0 0 / 0%), 0 6px 15px rgb(0 0 0 / 22%);
}
.section__footer{
    margin-top: 0 !important;
}
.dp__flex{
    display: inline-block;
    vertical-align: sub;
    vertical-align: middle;
    margin-top: 4px;
}
#real__estate__title{
    margin-top: 0;
}
#real__estate__image{
    margin: 90px auto;
}