.product__technology__container{
    text-align: center;
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.product__technology__image{
    margin: 40px auto 0;
    overflow: hidden;
    border-radius: 0px;
    width: 100%;
    position: relative;
    background-position: 50%;
    background-size: cover;
    cursor: pointer;
    transition: width 0.16s ease-in-out, height 0.16s ease-in-out;
    transition: 0.2s ease;
    font-size: 1vmax;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgb(0 0 0 / 0%), 0 6px 15px rgb(0 0 0 / 22%);
}
.product__technology__image img{
    width: 100%;
    height: auto;
    
}
.product__technology__title{
    color: #fff;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    font-size: 26px;
    background-color: #013f64;
    padding: 5px 8px;
    border-radius: 3px;
}
.product__technology__description{
   width: 500px;
    color: #013f64;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    font-size: 26px;
    padding: 5px 8px;
    border-radius: 3px;
}
/* .product__technology__container:nth-of-type(even) > .product__technology__image {
    order: 1;
} */