.team__slider {
	margin-bottom: 60px;
}

.team__slider-wrapper {
	width: 100%;
	height:720px;
	position: relative;
}

.team__slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.team__slider-wrapper > .team__slide:first-child {
	opacity: 1;
}

.section__team{
	margin-top: 60px;
}