.technology__container {
  position: relative;
  background-image: url("../../assets/images/background/technology_update_2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 777px;
  margin-top: 60px;
}
.section__technology span {
  margin-top: 60px;
}

.technology-swiper.swiper-slide-active{
  transform: scale(1.1) !important;
  transition:all  0.5s ease;;
}
.technology-swiper.swiper-slide {
    width: auto !important;
}
.technology-swiper .product__technology__image{
  width:80% !important;
}