.section__testimonial{
    position: relative;
    background-image: url('../../assets/images/background/backgroundTwo.png');
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
    height: 564px;
}
.testimonial__card{
    box-shadow: 0 2px 10px rgb(0 0 0 / 0%), 0 6px 15px rgb(0 0 0 / 22%);
    background-color: #fff;
    padding: 40px;
}
.testimonial__card.is__selected{
    transform: scale(1.1);
}
.testimonial__container{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
    margin: 40px auto 0;
}
.testimonial__icon{
    margin-bottom: 26px;
    color: var(--primary);
    display: block;
    text-align: center;
    font-size: 40px;
}
.testimonial__card__text{
    font-size: 20px;
    font-weight: 500;
}
.testimonial__card__signature{
    margin-top: 60px;
    color: var(--primary);
    float: right;
}
.testimonial__card__dash{
    vertical-align: middle;
    display: inline-block;
    width: 26px;
    height: 3px;
    background-color: var(--primary);
}
.testimonial__card__name{
    font-weight: 600;
}
.testimonial__card__position{
    display: block;
}