.mobile__container{
    margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(115%);
      transform: translateY(115%);
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.6;
    padding: 0 8px;
    
  display:none;
    }
    .mobile__container__text{
        word-break: break-word;
        text-transform: capitalize;
        color:#fff;
    }
    .mobile__logo{
       margin: 16px auto;
        text-decoration: none;
        display: flex;
        align-items: center;
        width: 300px;
    }
    .mobile__logo img{
        width: 100%;
        height: auto;
    }