.header__container {
    position: relative;
    background-image: url('../../assets/images/section/header.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    position: relative;
    box-shadow: 0 2px 10px rgb(0 0 0 / 0%), 0 6px 15px rgb(0 0 0 / 22%);
    /* width: 100%; */
    margin: 0 auto;
}

.navbar {
    position: relative;
}

.navbar_container {
    z-index: 999;
    position: absolute;
    width: 100%;
    padding: 15px 0;
}

.navbar__container__gradient {
    background: linear-gradient( 180deg, rgb(0 0 0) 0%, rgb(1 0 24 / 0%) 100%, rgba(2, 0, 35, 0) 100%, rgba(0, 0, 0, 0.227328431372549) 100%, rgb(0 0 0) 100%);
}

.navbar_logo {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 300px;
    max-width: 300px;
}

.navbar_logo img {
    width: 100%;
    height: auto;
}

.navbar__relative__container {
    position: relative;
}

.navbar__relative__container .nav_menu .nav_item .nav_links {
    color: var(--secondary);
    text-shadow: 2px 2px 6px #000000;
    text-transform: capitalize;
    justify-content: center;
}

.nav_menu {
    align-items: center;
    width: 1200px;
    font-size: 10px;
    display: grid;
    /* grid-template-columns: 33% 10.6% 10.6% 13.6% 13.6% 11.6% 11.6%; */
    grid-template-columns: 2.3fr 1fr 1.5fr 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    z-index: 999;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 123px;
}

.nav_menu li {
    list-style: none;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_link_user {
    text-align: center;
    font-size: 120px;
    color: #aeb4b7;
}

.nav_links {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    font-weight: 600;
    font-size: 20px;
}

/* .nav_links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
    display:inline-block;
    justify-content: center;
} */

.see__more__container {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.see__more__container a {
    font-size: 20px;
    text-decoration: none;
    color: var(--secondary);
    text-shadow: 2px 2px 6px #000000;
    font-weight: 600;
}

.flex_end {
    justify-content: flex-start !important;
}

.logo__container {
    justify-content: center;
    text-align: end;
    display: flex;
}

.flex_center {
    display: flex;
    justify-content: center;
}
/* 
body {
  color: #000000;
  font-family: Sans-Serif;
  padding: 30px;
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #222222
} */
